.header-comp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  padding: 20px 0;
}

.header-comp .logo {
  font-family: 'Saira Stencil One', cursive;
  font-size: 36px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
}

.header-comp .logo:hover {
  transform: scale(1.15);
}

.header-comp .menu {
  display: flex;
  flex-direction: row;
}

.header-comp .menu.is-stiky {
  position: fixed;
  top: 20px;
  z-index: 1;
  right: 20px;
}
