.exp-comp {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--transparent-bg-color);
  padding: 10px;
  margin-bottom: 10px;
}

.exp-comp .entity-logo {
  height: 55px;
  width: 55px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.exp-comp .summary {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exp-comp .job-summary {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.exp-comp .job-summary .job-name {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
}

.exp-comp .job-summary .job-details {
  font-size: 14px;
  font-weight: 500;
}

.exp-comp .job-summary .job-duration {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
}

.exp-comp .details {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  position: relative;
}

/* Experience.Technologies */

.exp-comp .exp-technologies {
  margin-top: 10px;
}

.exp-comp .exp-technologies .title {
  font-weight: 700;
  color: var(--secpndary-dark-color);
}

/* Experience.Project */

.exp-comp .exp-project {
  padding: 0 0 20px 20px;
  position: relative;
  overflow: hidden;
}

.exp-comp .exp-project:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 18px;
  bottom: 0;
  width: 1px;
  background-color: white;
  left: 7px;
}

.exp-comp .exp-project > header {
  display: flex;
  position: relative;
}

.exp-comp .exp-project > header::before {
  content: '\002B24';
  position: absolute;
  font-size: 7px;
  left: -17px;
  top: 0;
  bottom: 0;
  right: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.exp-comp .exp-project .title {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.exp-comp .exp-project .state {
  font-size: 14px;
  font-weight: 700;
  color: var(--secpndary-dark-color);
}

.exp-comp .exp-project .description {
  font-size: 14px;
  font-weight: 400;
}
