.nav-menu-comp {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 100%;
  position: relative;
  z-index: 2;
}

.nav-menu-comp.mobile-menu-is-open {
  display: flex;
  padding: 20px;
}

.nav-menu-comp ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-menu-comp .nav-item {
  padding: 14px 0;
}

.nav-menu-comp .cta-btn {
  border-radius: 60px;
  width: max-content;
  transform: scale(1);
  transition-property: color, border-color, transform, background-color;
  transition-duration: var(--transition-duration);
  margin-top: 14px;
  padding: 7px 20px;
  color: var(--primary-color);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  height: max-content;
}

.nav-menu-comp .cta-btn:hover {
  transform: scale(1.15);
}

.nav-menu-comp .cta-btn .icon {
  margin-right: 0.7em;
}

.nav-menu-comp.cta-btn .text {
  text-transform: uppercase;
}

@media (min-width: 50em) {
  .nav-menu-comp {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    padding: 0;
  }

  .nav-menu-comp ul {
    flex-direction: row;
    align-items: center;
  }

  .nav-menu-comp .nav-item {
    padding: 14px 20px;
    position: relative;
  }

  .nav-menu-comp .nav-item {
    transform: scale(1);
    transition-property: transform, color;
    transition-duration: var(--transition-duration);
  }

  .nav-menu-comp .nav-item:hover {
    transform: scale(1.15);
  }

  .nav-menu-comp .nav-item:hover a {
    color: var(--tertiary-color);
  }

  .nav-menu-comp .nav-item > a::before {
    content: '\002B24';
    position: absolute;
    font-size: 7px;
    left: 5px;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: flex-start;
    align-items: center;
    transition-property: display;
    transition-duration: var(--transition-duration);
  }

  .nav-menu-comp .nav-item > a.active::before {
    display: flex;
  }

  .nav-menu-comp .nav-item > a.active {
    color: var(--tertiary-color);
    font-weight: 700;
  }

  .nav-menu-comp .cta-btn {
    margin-top: 0;
    padding: 7px 20px;
    color: var(--primary-color);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    height: max-content;
  }

  .nav-menu-comp .cta-btn:hover {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
  }

  .nav-menu-comp .cta-btn:hover .icon {
    stroke: var(--tertiary-color);
  }
}

@media (min-width: 100em) {
}
