#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-page::before {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/issoufi-v3.appspot.com/o/bg%2Fhome.jpeg?alt=media&token=5db53a4d-725e-428e-bcd4-df46ce477c56);
}

#home-page main {
  text-align: center;
}

#home-page h1 {
  font-size: 18px;
  font-weight: 500;
}

#home-page h1 strong{
  font-size: 24px;
  font-weight: 700;
}

#home-page p {
  font-size: 18px;
  font-weight: 400;
}

#home-page .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

#home-page .btn-container .btn {
  display: block;
  font-size: 14px;
  font-weight: 400px;
  border-radius: 60px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary-color);
  width: max-content;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--primary-color);
  transform: scale(1);
  transition-property: transform, background-color, color, border-color;
  transition-duration: var(--transition-duration);
}

#home-page .btn-container .btn:hover {
  transform: scale(1.15);
}

#home-page .btn-container .btn:not(.call-to-action):hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#home-page .btn-container .btn.call-to-action {
  display: flex;
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  margin-bottom: 20px;
}

@media (min-width: 50em) {
  #home-page .btn-container {
    padding-top: 10rem;
  }

  #home-page h1 {
    font-size: 24px;
  }

  #home-page h1 strong{
    font-size: 36px;
  }
}
