.project-comp {
  height: max-content;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.project-comp > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project-comp > main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.project-comp > main.display-all {
  display: grid;
  grid-template-columns: repeat(1, minmax(min-content, 1fr));
  grid-auto-flow: row;
  row-gap: 5px;
}

@media (min-width: 50em) {
  .project-comp > main.display-all {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
  }
}

@media (min-width: 100em) {
  .project-comp > main.display-all {
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
  }
}

/* .project-comp > main.display-all .project-item {
  width: calc(33% - 30px);
} */

.project-comp .title {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.project-comp .nav-ctrl {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-comp .ctrl-item {
  margin-left: 10px;
  border: none;
  color: var(--primary-color);
  background-color: transparent;
  font-size: 18px;
}

.project-comp .ctrl-item:hover {
  stroke: var(--tertiary-color);
  color: var(--tertiary-color);
  cursor: pointer;
}

.project-comp .project-item {
  display: flex;
  flex-direction: column;
  margin: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.project-comp .project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-comp .project-item .image-container {
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.project-comp .project-item .like-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project-comp .project-item .like-container .counter {
  margin-right: 10px;
  font-size: 14px;
}

.project-comp .project-item .like-container .isLiked {
  stroke: var(--tertiary-color);
  fill: var(--tertiary-color);
}

.project-comp .project-item .like-container .like:hover {
  cursor: pointer;
  stroke: var(--tertiary-color);
}

.project-comp .project-item main {
  margin-top: 10px;
  padding-left: 10px;
}

.project-comp .project-item main .name {
  font-size: 18px;
  font-weight: 800;
}

.project-comp .project-item main .type {
  font-size: 14px;
}

.project-comp .project-item main .tools {
  font-size: 14px;
}
